@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@400;500;700&display=swap');
body {
    font-family: 'Roboto', sans-serif;
  }
.character-list-container {
    padding: 1.25rem;
    border: 0.0625rem solid #ccc;
    border-radius: 0.3125rem;
    background-color: #fff;
}

.character-list-container h2 {
    font-size: 1.25rem;
    margin-bottom: 1rem;
}

.character-list-container ul {
    list-style-type: none;
    padding: 0;
}

.character-list-container ul li {
    margin-bottom: 0.625rem;
}

.character-list-container ul li a {
    text-decoration: none;
    color: #007bff;
}

.character-list-container ul li a:hover {
    text-decoration: underline;
    color: #0056b3;
}
